# [MAKER_BUILDER_GENERATED]
/bin
/hub.env

# [MAKER_HUB_RUNTIME]
/preferences.json
/gcode
*.log

# [COMMON_RIDER]
.idea/

# [COMMON_YARN]
/yarn.lock-e
/yarn-error.log
/node_modules

# [COMMON_TYPESCRIPT]
/tsconfig.tsbuildinfo

# [COMMON_MAC]
.DS_Store

#yarn-error.log
#.idea
#.DS_Store
#node_modules
#npm-debug.log
#package-lock.json
#preferences.json
#logs/makerverse*
#/.eslintcache
#/.nyc_output
#/coverage
#/dist
#/output
#/releases
#windows-store
#filesystem.img
#/packer_cache
#/rpi
#bootstrap.log
#raspberry-pi.img
#.makerverse
#MakerverseServerTests/bin/**
#/commands
#/events
#.makerverse-status
#**/tsconfig.tsbuildinfo
#WebApp/build
#build
#.env
#hub.env
#**/*.lock-e
