.primary-toolbar {
    .controller-type {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
        padding: 4px 0;
    }
    .controller-state {
        display: none;
        color: #222;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        border-radius: 3px;
        min-width: 50px;
        text-align: center;
        padding: 4px 12px;
        font-size: 12px;
        line-height: 18px;

        &.controller-state-default {
            display: inline-block;
            color: #222;
            background-color: #fefefe;
            border: 1px solid #e3e3e3;
        }
        &.controller-state-primary {
            display: inline-block;
            color: #2e6da4;
            background-color: #fefefe;
            border-color: #2e6da4;
        }
        &.controller-state-success {
            display: inline-block;
            color: #4cae4c;
            background-color: #fefefe;
            border-color: #4cae4c;
        }
        &.controller-state-info {
            display: inline-block;
            color: #46b8da;
            background-color: #fefefe;
            border-color: #46b8da;
        }
        &.controller-state-warning {
            display: inline-block;
            color: #eea236;
            background-color: #fefefe;
            border-color: #eea236;
        }
        &.controller-state-danger {
            display: inline-block;
            color: #d43f3a;
            background-color: #fefefe;
            border-color: #d43f3a;
        }
    }
}
