@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(./fonts/Rubik-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik-Bold'), url(./fonts/Rubik-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik-Italic'), url(./fonts/Rubik-Italic.ttf) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'), url(./fonts/RobotoMono-Regular.ttf) format('truetype');
}

body {
  margin: 0;
}
a {
  color: #4a148c;
  font-weight: bold;
}
a:visited {
  color: #12005e;
}
