.widget-content {
    position: relative;
    padding: 10px;
    display:flex;
    flex-direction:column;

    &.hidden {
        display: none;
    }

    &.fullscreen {
        .terminal-container {
            height: 100%;
        }
    }
}
.widget-header{
    border-bottom: 1px solid #777;
    align-self:flex-start;
    padding: 0 15px;
    margin-top:15px;
}
.widget-container{
    display:flex;
    justify-content: space-between;
    padding: 0 15px;
}
.widget-container p {
    margin:0;
}
.widget-container p span {
    font-weight:bold;
    align-self:flex-end;
}
.widget-button{
    align-self:flex-end;
}
.modal-background{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.25);
    z-index:10000;
    display:flex;
    justify-content:center;
    align-items:center;
}
.modal-container{
    background-color:#fff;
    padding: 25px;
    max-width:860px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}
.modal-container img{
    width:65%;
    height:340px;
}
.modal-container form {
    display:flex;
    flex-direction:column;
}
.modal-container form label {
    margin:0;
}
.modal-container form input {
    margin: 7px 0;
}
.modal-container form input::-webkit-outer-spin-button,
.modal-container form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button-container{
    display:flex;
    justify-content: space-between;
}
.input-field{
    display:flex;
    flex-direction:column;
}
.modal-tabs-container{
    position:absolute;
    top:-45px;
    height:45px;
    left:0;
    display:flex;
    align-items:center;
}
.modal-tab{
    background-color:#fff;
    height:100%;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
}
.modal-tab-active{
    background-color: #337ab7;
    color:#fff;
}
.panel {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    :global {
        .row {
            margin-bottom: 5px;
        }
        .row:last-child {
            margin-bottom: 0;
        }
    }
}
.panel-heading:hover {
    background-color: rgba(0, 0, 0, .05);
}