.widget-content {
    position: relative;
    padding: 10px;
    display:flex;
    flex-direction:column;

    &.hidden {
        display: none;
    }

    &.fullscreen {
        .terminal-container {
            height: 100%;
        }
    }
}
.widget-header{
    border-bottom: 1px solid #777;
    align-self:flex-start;
    padding: 0 15px;
    margin-top:15px;
}
.widget-container{
    display:flex;
    justify-content: space-between;
    padding: 0 15px;
}
.widget-container p {
    margin:0;
}
.widget-container p span {
    font-weight:bold;
    align-self:flex-end;
}
.widget-button{
    align-self:flex-end;
}